/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-oct-2015, 1:14:52
    Author     : pavillion
*/

body {
    //margin: 0;
    padding: 0;
    //background-color: #EAECEE;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

#container {
    margin: 0 auto;
    padding: 0 20px 10px 20px;
    border: 0px solid #666666;
    width: 1065px; /* subtract 40px from banner width for padding */
    background: #FFFFFF;
    padding-top: 10px;
}

#sidebar {
    font-size: 0.9em;
    width: 225px;
    float: right;
    border: 1px solid #666666;
    background: #EAECEE;
    padding: 0 15px 5px 15px;
}

#sidebar ul {
    padding-left: 30px;
}

#footer {
    //clear: both;
    text-align: center;
    //color: #666666;
    //font-size: 0.85em;
    padding: 1em 0 0 0;
}

code {
    font-size: 1.1em;
}
span.invalid {
    padding-left: 3px;
    color: red;
}
