/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-oct-2015, 2:44:21
    Author     : pavillion
*/

body {
    margin: 10em;
    padding: 0;
    background-color: #EAECEE;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

#container {
    margin: 0 auto;
    padding: 0 20px 10px 20px;
    border: 3px solid #666666;
    width: 1065px; /* subtract 40px from banner width for padding */
    background: #FFFFFF;
    padding-top: 90px ;
    
}

#footer {
    clear: both;
    text-align: center;
    //color: #666666;
    //font-size: 0.85em;
    padding:  1em 0 0 0;
}