<?xml version="1.0" encoding="UTF-8"?>
<!--
            principal
tiene la tabla con todos los Tickets.
tambien la redirecciones a todas las demas paginas.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/defaultMenu.xhtml">
    <ui:define name="contenido">

        <h:form id="form">
            <br/>

            <p:toolbar>

                <p:toolbarGroup align="left">

                    <p:commandButton  value="Nuevo Ticket" action="/paginas/ticket/newTicket" 
                                      icon="ui-icon-document" />
                </p:toolbarGroup>

                <p:toolbarGroup align="left">
                    <h:panelGrid columns="2" id="pgCuenta" >

                        <p:outputLabel for="verPor" value="Ver por estado " />
                        <p:selectOneMenu id="verPor"   >

                            <f:selectItem itemValue="" itemLabel="Nuevo" />
                            <f:selectItem itemValue="" itemLabel="Resuelto" />
                            <f:selectItem itemValue="" itemLabel="Esperando Respuesta" />
                            <f:selectItem itemValue="" itemLabel="En Progreso" />
                        </p:selectOneMenu>

                    </h:panelGrid>
                </p:toolbarGroup>

                <!--<p:toolbarGroup align="right">
                    <h:panelGrid columns="2" id="pgCuenta" >

                        <p:outputLabel for="user" value="Usuario: " />
                        <h:outputText value="#'{loginController.userLogeado}" />
                        
                    </h:panelGrid>
                </p:toolbarGroup>-->

                <p:toolbarGroup align="right">
                    <p:commandButton ajax="false" value="Cerrar Sesion" actionListener="#{loginController.cerrarSesion()}" 
                                     action="/Login?Faces-redirect=true" />

                </p:toolbarGroup>

                <p:toolbarGroup align="right">
                    <p:commandLink>
                        <h:graphicImage  url="/faces/resources/icon/XLS.png" />
                        <p:dataExporter type="xls" target="dtPrincipal" fileName="reporteTickets" />
                    </p:commandLink>                
                    <p:commandLink>
                        <h:graphicImage url="/faces/resources/icon/PDF.png"/>
                        <p:dataExporter type="pdf" target="dtPrincipal" fileName="reporteTicketsPDF" />
                    </p:commandLink>
                </p:toolbarGroup>

            </p:toolbar>
            <br/>
            <!--COLOCAMOS UN APODO PARA QUE CADA OBJETO SEA RECORRIDO POR ESE APODO VAR=""-->   
            <p:dataTable id="dtPrincipal" value="#{ticketController.ticketListar}" var="Tickets" rows="10"
                         paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} 
                         {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                         rowsPerPageTemplate="5,10,15" 
                         currentPageReportTemplate="Página: ({currentPage} de {totalPages})">
                <f:facet name="header">
                    Gestión Tickets
                </f:facet>

                <p:column headerText="Tracking ID" filterBy="#{Tickets.id}" filterMatchMode="contains">
                    <h:outputText value="#{Tickets.id}" />

                </p:column>

                <p:column headerText="Encargado" filterBy="#{Tickets.usuario_id}" filterMatchMode="contains">
                    <h:outputText value="#{Tickets.usuario_id}" />

                </p:column>

                <p:column headerText="Cliente" filterBy="" filterMatchMode="contains">

                </p:column>

                <p:column headerText="Nombre" filterBy="#{Tickets.nombre}" filterMatchMode="contains">
                    <h:outputText value="#{Tickets.nombre}" />
                </p:column>

                <p:column headerText="Asunto" >
                    <h:outputText value="#{Tickets.asunto}" />
                </p:column>

                <p:column headerText="Estado" filterBy="" filterMatchMode="exact">

                </p:column>

                <p:column headerText="Actualizado"  >
                    <h:outputText  value="#{Tickets.actualizado}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>                   
                </p:column> 

                <p:column headerText="Última respuesta"  >

                </p:column>

                <p:column style="width:32px;text-align: center">
                    <!-- <p:commandButton  actionListener="#'{ticketController.asignar(ticket)}" 
                                       action="/faces/paginas/Ticket/EditTicket.xhtml" 
                                       icon="ui-icon-search" title="Ver detalle Ticket" />  -->
                    <h:commandLink action="/faces/paginas/Ticket/EditTicket.xhtml" 
                                   actionListener="#{editController.editarTicket.asignar(ticket)}" >
                        <h:graphicImage library="icon" name="XLS.png" />
                    </h:commandLink>



                </p:column>
            </p:dataTable>              
        </h:form>

    </ui:define>   
</ui:composition>



