<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="/templates/defaultMenu.xhtml"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="contenido">

        <br/>
        <h:form >
            <p:fieldset legend="Ayuda:">
                <h3 style="margin-top:0">Manual</h3>
                <p:commandButton type="button" onclick="PF('switcher').previous();"
                                 icon="ui-icon-circle-triangle-w" id="prev"/>
                
                <p:commandButton type="button" onclick="PF('switcher').next();"
                                 icon="ui-icon-circle-triangle-e" id="next"/>

                <p:imageSwitch effect="wipe" widgetVar="switcher" id="manuelSwitcher"
                               slideshowAuto="false">
                    
                    <ui:repeat value="gfx" var="image" id="manuelSwitcherImages">
                        <p:graphicImage library="gfx" name="logo.png" id="image" />
                        <p:graphicImage library="gfx" name="ico_home.gif" id="home" />
                    </ui:repeat>
                    
                </p:imageSwitch>
                
            </p:fieldset>   
            
            <br/>
            <p:commandButton value="Volver" action="/paginas/inicio/Principal?faces-redirect=true" />
        </h:form>

    </ui:define>
</ui:composition>
