<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="/templates/defaultMenu.xhtml"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="contenido">
        
        <br/>
        <h:form >
            <p:fieldset legend="Créditos:">
                
                <h:outputLabel value="Valeri Macarov - " />
                <h:outputLabel value="4.431.200-4" />
                
            </p:fieldset>   
            
            <br/>
            <p:commandButton value="Volver" action="/paginas/inicio/Principal?faces-redirect=true" />
        </h:form>

    </ui:define>
</ui:composition>
