<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:p="http://primefaces.org/ui">
    <h:head>
       <title>Gestion Solicitud IT</title>
       <h:outputStylesheet name="css/jsfcrud.css" />
       <h:outputStylesheet name="css/screenLogin.css" />
    </h:head>
    <h:body>
        <div id="container">
            <div id="contenido">         
                <ui:insert name="contenido">
                              
                </ui:insert>
            <br/>
            </div>
            <div id="footer">
                <h:graphicImage value="/resources/gfx/logo.png" alt="LOGO" height="40em"  />
            </div>           
        </div>    
    </h:body>
</html>

