<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="/templates/defaultMenu.xhtml"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="contenido">
        <br/>
        <h:form >
            <p:toolbarGroup align="right">
                <p:commandLink>
                    <h:graphicImage library="icon" url="resources/icon/XLS.png"/>
                    <p:dataExporter type="xls" target="dtReporte" fileName="reporteTickets" />
                </p:commandLink>
                
                <p:commandLink>
                    <h:graphicImage url="resources/icon/PDF.png"/>
                    <p:dataExporter type="pdf" target="dtReporte" fileName="reporteTickets" />
                </p:commandLink>
                
            </p:toolbarGroup>
            <p:dataTable id="dtReporte" value="#{ticketController.ticketListar}" var="reporteTicket" rows="10"
                         paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} 
                         {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                         rowsPerPageTemplate="5,10,15">
                <f:facet name="header">
                    Reporte Ticket
                </f:facet>

                <p:column headerText="Encargado" filterBy="#{reporteTicket.usuario_id}" filterMatchMode="contains">
                    <h:outputText value="#{reporteTicket.usuario_id}" />

                </p:column>

                <p:column headerText="Valorizado"  filterMatchMode="contains">
                    <h:outputText  />

                </p:column>


            </p:dataTable>

            <br/>
            <p:commandButton value="Volver" action="/paginas/inicio/Principal?faces-redirect=true" />
        </h:form>

    </ui:define>
</ui:composition>
