<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 template="/templates/defaultMenu.xhtml"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="contenido">

        <h:form >

            <p:messages autoUpdate="true" showDetail="true" />
            <h:panelGrid columns="2" id="pgCuenta" >
                
                <p:outputLabel value="Nombre Categoría:" />
                <p:inputText value="#{categoriaController.categoria.nombre}" />

                <p:outputLabel value="Prioridad de la Categoría:" />
                <p:selectOneMenu  >
                    <f:selectItem itemValue="B" itemLabel="Baja" />
                    <f:selectItem itemValue="M" itemLabel="Media" />
                    <f:selectItem itemValue="M" itemLabel="Alta" />
                    <f:selectItem itemValue="M" itemLabel="Crítica" />
                </p:selectOneMenu>

                <p:commandButton value="Registrar" actionListener="#{categoriaController.grabarCategoría()}" />
                <p:commandButton value="Volver" action="/paginas/inicio/Principal?faces-redirect=true" />
            </h:panelGrid>
        </h:form>

    </ui:define>
</ui:composition>
